<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <!-- Servlet Definition -->
    <servlet>
        <servlet-name>ReservationStatusInformationServlet</servlet-name>
        <servlet-class>com.example.ReservationStatusInformationServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>ReservationStatusInformationServlet</servlet-name>
        <url-pattern>/ReservationStatusInfo</url-pattern>
    </servlet-mapping>

</web-app>
